@{
    ViewBag.Title = "Home Page";
}
<h2>Welcome to the TCRC</h2>
<p>
    In 1995, the California legislature enacted the Seller of Travel Law, creating the Travel Consumer Restitution Fund 
    for the benefit of consumers located in California who suffer losses as a result of the bankruptcy, cessation of 
    operations, insolvency, or material failure of a seller of travel to provide the transportation or travel services contracted for. 
</p>
<p>
    The Travel Consumer Restitution Corporation (TCRC) was created to decide claims made against the restitution fund. 
    The TCRC is a Private Corporation governed by the Seller of Travel Law. It is not a government agency or an insurance 
    company. It is not associated with or controlled by any seller of travel, and it does not represent any seller of travel.
</p>
<p>
    <strong>TCRC Participants:</strong> Please log in using the "Login" button above.
</p>
<p>
    <strong>Prospective TCRC Participants:</strong> If you are representing a seller of travel and would like to become a 
    participant in the TCRC, please click the "Become A Participant" link above.
</p>
<p>
    <strong>File a Claim:</strong> If you are a member of the public and wish to file a claim through the TCRC on one of our participants, please @Html.ActionLink("click here", "ClaimForm", "FileClaim"),
    or click on the "File A Claim" link above.
</p>
<p>
    Please be prepared by having your scanned supporting documentation ready to submit with your online submission. If you do not
    have scanned supporting documentation, you will be presented with a form to fill out and mail to the TCRC Administrator. However, 
    please note that this will delay your claim being reviewed.
</p>
<p>
    If you are looking for the <strong>Attorney General Seller of Travel Department</strong>, please <a href="http://www.ag.ca.gov/travel">click here</a>.
</p>