<h2>Import Sellers of Travel</h2>

@using (Html.BeginForm("ImportSot", "Admin", FormMethod.Post, new { @class = "pure-form pure-form-stacked", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();

    <fieldset>
        <legend>Import</legend>
        <div class="pure-g">
            <div class="pure-u-1">
                <label>Step 1 Choose a csv file to import</label>
                <input type="file" name="file" />
            </div>
            <div class="pure-u-1" style="padding-top: 20px;">
                <label>Step 2 Import the data</label>
                <input type="submit" value="Import" />
            </div>
        </div>
    </fieldset>
}