<h2>Claim Submitted</h2>
<p>Thank you for filing your claim with the Travel Consumer Restitution Fund.  We will contact you if further information is needed to process your claim.</p>

<p>Thank you,<br />
Travel Consumer Restitution Corporation<br />
P.O. Box 6001  <br />
Larkspur, CA 94977-6001 <br />
(866)301-3004 <br />
<a href="mailto:info@tcrcinfo.com">info@tcrcinfo.com</a> </p>
